.logo-icon-container{
    filter: brightness(10);
}
.voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover, .voyager .pagination .active span {
    /* z-index: 3;
    color: rgb(255 255 255);
    cursor: default; */
    background-color: #a52c3e;
    border-color: #a52c3e;
    /* outline: none; */
}

.voyager .btn.btn-danger{
    background: #344356;
}

.btn.btn-primary, #toolbar .btn.btn-primary:hover, #toolbar .btn.btn-primary { 
    background: #a52c3e;
    border: #a52c3e;
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #ffffff;
}

.nav .navbar-nav li:hover{
    background-color: #a52c3e ;
}
 .voyager .side-menu.sidebar-inverse .navbar .active , .voyager .side-menu.sidebar-inverse .navbar li>a:hover {
    background: #a52c3e;
}
.voyager .panel.panel-primary .panel-heading {
    background-color: #a52c3e;
}
.voyager .alert.alert-danger {
    background-color: #a52c3e;
}
.voyager .modal.modal-relationships .btn-relationship, .voyager .modal.modal-relationships.modal-danger .modal-header, .voyager .modal.modal-danger .modal-header {
    background: #a52c3e;
}
.btn-new-relationship {
    background: #a52c3e;
    border: 1px solid #a52c3e;
}
#files li .file_link.selected, #files li .file_link:hover {
    background: #a52c3e!important;
    border-color: #a52c3e;
}
.voyager .alert.alert-info {
    background-color:  #a52c3e;
}